body {
  font-family: "Rubik Burned", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

img {
  width: 700px;
  margin: auto;
}

h1 {
  padding-top: 25px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

.button {
  position: absolute;
  top: 50%;
  left: 46%;
  background-color: #ffffff;
  color: #000000;
  font-family: "Rubik Burned";
  font-size: 1.5rem;
  padding: 24px 30px;
  border: dashed;
  border-radius: 5px;
}

.button2 {
  position: absolute;
  top: 50%;
  left: 75%;
  background-color: #ffffff;
  color: #000000;
  font-family: "Rubik Burned";
  font-size: 1.5rem;
  padding: 15px 30px;
  border: dashed;
  border-radius: 5px;
}

.button:hover {
  color: #737373;
}

.button2:hover {
  background-color: #f1f1f1;
}